$yellow: #fdd130;
$blue: #0b1d26;
$white: #ffffff;
$black: #000000;

//widths
$navbar_width: 1800px;
$content_width: 1400px;
$footer_width: 1400px;

//height
$medium_height: 80px;
$big_height: 100px;

//fonts
$principal_font: "Poppins", sans-serif;
